{{#if this.siteSettings.conference_enable_registration}}
  {{#if this.shouldShowRegistrationPage}}
    <div class="container">
      <RegistrationForm
        @isUserRegisteredToConf={{this.userBelongsToRegistrationGroup}}
      />
    </div>
  {{else}}
    {{#if this.showStreamer}}
      <Streamer @conferenceStream={{this.model.conference_stream}} />
    {{/if}}
  {{/if}}
{{/if}}