body.tag-livestream {
  // we need to fullscreen the header icons to match the chat panel
  // being on the right side of the screen
  .d-header-wrap .wrap {
    margin: 0;
    max-width: 100%;
  }

  .discourse-root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    > :not(.embeddable-chat-channel):not(#main-outlet-wrapper) {
      flex-basis: 100%;
    }

    #main-outlet-wrapper {
      margin-right: 410px;
    }

    .embeddable-chat-channel {
      position: fixed;
      top: var(--header-offset);
      right: 0;
      height: calc(100% - var(--header-offset));
      overflow-y: scroll;
      border-left: 2px solid var(--primary-very-low);
    }
  }
}
