body.tag-livestream.chat-enabled {
  .d-header-icons {
    .livestream-header-icon {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 9px;
        right: 16px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgb(255, 0, 0);
        animation: pulse-circle 3s infinite;
      }

      @keyframes pulse-circle {
        0% {
          transform: scale(1);
          background-color: rgba(255, 0, 0, 0.901);
        }
        50% {
          transform: scale(1.3);
          background-color: rgba(255, 0, 0, 0.762);
        }
        100% {
          transform: scale(1);
          background-color: rgba(255, 0, 0, 0.902);
        }
      }
    }
  }

  // don't blur the background when the livestream chat modal is open
  .livestream-chat-modal {
    & ~ .d-modal__backdrop {
      background-color: unset;
      animation: none;
    }
  }

  .livestream-chat-modal {
    .d-modal__body {
      padding: 1em 0.4em 1em 0.4em;
    }

    #custom-chat-container {
      width: 100%;
      height: 400px !important;

      .chat-channel-preview-card p {
        margin-bottom: 0;
      }
    }
  }
}

body:not(.tag-livestream) .d-header-icons .livestream-header-icon {
  display: none;
}
