body.chat-enabled.tag-livestream.confirmed-event-assistance {
  iframe[allowfullscreen] {
    width: 100%;
    height: calc(90vh - 10rem);
  }

  #post_1 .topic-avatar {
    display: none;
  }

  .topic-navigation {
    display: none;
  }
}

body.chat-enabled.tag-livestream .chat-channel-preview-card {
  .chat-channel-preview-card__browse-all {
    display: none;
  }

  .chat-channel-title {
    display: none;
  }
}
