.usercard-controls .portfolio-button-inner {
  background-color: var(--quaternary);
  padding: 0.7em 0.65em;
  border-radius: 5px;
  label {
    font-weight: lighter;
  }
}

.fk-d-menu__inner-content {
  padding: 10px;
}
.custom-ai-composer {
  #private-message-users {
    display: none;
    pointer-events: none !important;
    opacity: 0.4 !important;
    svg {
      display: none;
    }
  }
  .title-input {
    max-width: 0 !important;
  }
  #reply-title {
    display: none;
  }
  .mini-tag-chooser {
    max-width: 100% !important;
  }
  .mini-tag-chooser .selected-content > button:first-child {
    display: none;
    pointer-events: none !important;
    opacity: 0.4 !important;
  }
}

#upcoming-events-calendar,
#category-events-calendar {
  .fc-event {
    color: #bfbfbf !important;
    padding: 3px 8px 3px 8px;
  }
}

#conference-channels-list {
  background-color: var(--primary-very-low);
}

body.conference-page {
  .star-rating {
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: left;
    direction: rtl;
    font-size: 0;
  }

  .star {
    display: none;
  }

  .star + label {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
  }

  .star:checked ~ label,
  .star + label:hover,
  .star + label:hover ~ label {
    color: #f5a623;
  }
  .channel-divider {
    background-color: var(--primary-very-low);
    position: relative;
    margin: 0;
    padding: 8px 20px;
    color: var(--primary);
    font-size: 0.8rem;
    text-align: center;
  }

  .channel-divider::before,
  .channel-divider::after {
    content: "";
    position: absolute;
    top: 50%;
    border-top: solid 1px var(--primary-high);
    width: calc(50% - 40px);
    height: 0;
  }

  .channel-divider::before {
    left: 0;
    margin-left: 20px;
  }

  .channel-divider::after {
    right: 0;
    margin-right: 20px;
  }

  .channel-divider span {
    background-color: inherit;
    padding: 0 10px;
  }

  &.pending-conference-registration {
    background-image: linear-gradient(
      145deg,
      #0033a1 40%,
      #004fb5 65%,
      #0071ce
    );
  }
  .agenda-modal .d-modal__container {
    min-width: 80%;
    text-align: center;
    align-content: center;
  }

  .agenda-modal .d-modal__header {
    justify-content: right;
  }

  .header-sidebar-toggle {
    display: none;
  }

  .sidebar-wrapper {
    display: none;
  }

  .time-badge {
    display: inline-block;
    vertical-align: text-bottom;
    background-color: #b50d98; /* A pleasant blue; adjust the color as needed */
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
    //font-weight: lighter;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 5px 0 15px; /* Adjusted to remove top and bottom margins */
  }

  #main-outlet .livestream-title {
    font-family: var(--heading-font-family);
    color: var(--primary);
    margin-bottom: 20px;
  }
}

body.conference-page:not(.custom-chat-enabled) {
  #main-outlet-wrapper {
    max-width: calc(var(--d-max-width) + 40px);
    text-align: center;
    gap: 0;
    grid-template-columns: 1fr;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    ul {
      width: fit-content;
      text-align: center;
      margin: 0 auto;
      list-style-position: inside;

      li {
        margin-left: 20px;
        list-style-type: none;
        padding-top: 15px;
        text-align: left;
      }
    }

    .info-box {
      width: calc(var(--d-max-width) + 20px);
      padding-top: 30px;
      padding-bottom: 85px;

      background-color: var(--secondary);
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
      color: var(--primary);

      p {
        margin: 30px auto 30px;
        width: 80%;
      }

      .input-group {
        margin: 30px 0;
        display: inline-flex;

        label {
          margin-right: 50px;
        }
      }

      img.banner {
        width: 512px;
      }

      .row {
        h1 {
          color: var(--tertiary);
          font-weight: bold;
          text-transform: none;
        }

        &.form {
          width: 55%;

          margin: 50px auto 0;

          .input-radio {
            display: inline !important;
          }

          .control-group {
            display: grid;
            grid-template-columns: 1.5fr 3fr;
            align-items: center;
            gap: 0;
          }

          .required {
            color: #c02e2e;
            font-weight: bolder;
            font-size: 1.2em;
            margin-left: 10px;
          }

          .select-kit {
            ul {
              width: 100%;
            }

            li {
              margin-left: 0;
              padding: 10px;
              text-align: center;
              color: var(--primary);
            }

            summary {
              color: var(--primary);
              width: 70%;
            }
          }

          .ember-text-field {
            width: 70%;
          }

          .btn-primary {
            color: #fff;
            font-weight: bolder;
            font-size: var(--font-up-2);

            border-color: transparent;
            border-radius: 0.25rem;
            border-width: 1px;
            cursor: pointer;
            margin-top: 30px;
            line-height: 1.5rem;
            outline-offset: 0;
            padding: 20px 2rem;
            background-color: #b50d98;
          }
        }
      }
    }
  }

  .custom-radio-button {
    border: 1px dashed var(--secondary-high);
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    color: var(--primary);
    margin-right: 10px !important;
  }

  .hidden-radio {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .radio-custom {
    margin-left: 12px;
    width: 14px;
    height: 14px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .radio-custom:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--primary);
    transform: scale(0);
    transition: transform 0.2s ease;
  }

  input[type="radio"]:checked + .radio-custom:after {
    transform: scale(1);
  }

  .event-info {
    width: 50%;
    margin-left: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .event-name {
    font-weight: bold;
  }

  .event-info.secondary {
    .event-name {
      visibility: hidden !important;
    }

    .event-details {
      font-size: smaller;
    }
  }

  .event-details {
    padding-top: 8px;

    font-size: smaller;
    color: var(--secondary-low);
    font-weight: lighter;
  }

  .product {
    font-weight: bolder;
  }

  .tos {
    margin: 60px 0 0;
    font-weight: lighter;
    color: var(--secondary-low);
    font-style: italic;
    display: flex;
    text-align: left;
  }

  .tou {
    margin: 30px 55px 10px;
    font-weight: lighter;
    color: var(--secondary-low);
    font-style: italic;
    display: flex;
    text-align: left;
  }
}

.group-conf_2024_registered {
  .directory-table__column-header--last-posted {
    display: none;
  }

  .directory-table__cell--last-posted {
    display: none;
  }

  .group-members {
    grid-template-columns: 3fr repeat(4, minmax(min-content, 1fr));
    grid-template-columns: 6fr repeat(7, minmax(min-content, 1fr));
  }

  .group-members--can-manage {
    grid-template-columns: 3fr repeat(5, minmax(min-content, 1fr)) 3em;
    grid-template-columns: 6fr repeat(8, minmax(min-content, 1fr)) 3em;
  }
}

.conference-page.agenda {
  #region {
    width: 160px;

    .select-kit-body {
      min-width: 0 !important;
      width: 160px !important;
    }

    .select-kit-collection {
      width: 160px !important;
    }

    .select-kit-row {
      margin-left: 0 !important;
    }
  }

  .region-info {
    margin-left: 15px;
    margin-top: -35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .formatted-date {
    color: var(--quaternary);
    font-size: 2em;
    font-weight: bold;
  }

  .info-box .title {
    margin-bottom: 20px;
  }

  .button-group {
    display: inline-flex;
    margin: 0 auto;

    .button:first-child {
      border-radius: 10px 0 0 10px;
    }

    .button:last-child {
      border-radius: 0 10px 10px 0;
    }
  }

  .button {
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
  }

  .button + .button {
    border-left: none;
  }

  .row {
    margin: 0;
  }

  .schedule {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: 20px auto;
    padding: 0;
  }

  .time-slot {
    display: flex;
    margin-bottom: 10px; /* space between slots */
  }

  .time {
    flex: 0 0 120px;
    font-weight: bold;
    font-size: 2em;
  }

  .event {
    margin-top: 10px;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-very-low);
    color: var(--primary);
    padding: 35px 40px 20px;
    border-radius: 8px;
  }

  .event .stage-info {
    text-align: left;
    width: 90%;
  }

  .event .stage-info .description {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100% !important;
    padding: 5px 0;
    margin: 0 0 10px !important;
  }

  .event .stage-info .description .btn {
    margin-left: 5px;
  }

  .event .speaker {
    color: var(--quaternary);
  }

  .event:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--tertiary);
    border-radius: 8px 0 0 8px;
  }

  .duration {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  body.conference-page {
    #main-outlet-wrapper {
      margin: 10px;

      .info-box {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 60px;

        p {
          margin: 20px auto;
          width: 90%;
        }

        img.banner {
          width: 100%;
        }

        .row.form {
          width: 100%;
          margin: 30px auto 0;

          .btn-primary {
            padding: 15px 1.5rem;
          }
        }
      }
    }

    .custom-radio-button {
      padding: 8px;
    }

    .radio-custom {
      margin-left: 10px;
      width: 15px;
      height: 15px;

      .radio-custom:after {
        width: 10px;
        height: 10px;
      }
    }

    .event-info {
      margin-left: 10px;
    }

    .event-name {
      font-size: medium;
    }

    .event-details {
      font-size: smaller;
    }

    .tos {
      margin: 30px 0 0;
      font-size: small;
    }
  }
}

body.custom-chat-enabled {
  .discourse-root {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  &.remove-scroll-x {
    overflow-x: hidden !important;
  }

  .chat-drawer-container .c-navbar__full-page-button {
    display: none;
  }

  .chat-drawer-container
    .chat-message-content
    .chat-message-info__original-message {
    display: none;
  }

  &.conference-page {
    #main-container {
      display: none;
    }

    #main-outlet .livestream-title {
      margin-bottom: 13px;
    }

    .speakers {
      margin: 10px 10px 2px 10px;
    }
    .speakers .user-info {
      display: inline-flex !important;
      margin-bottom: 5px;
      &:last-of-type {
        margin-left: 25px;
      }

      .name-line .username {
        display: none;
      }
    }
    .speakers .user-detail .title {
      color: var(--secondary-low) !important;
      font-size: small;
    }

    #main-outlet-wrapper {
      .links {
        margin-bottom: 12px;
        display: flex;

        .stages {
          flex-grow: 1;
        }
        .pages {
          margin-right: 30px;
        }
      }
      .links .btn {
        border-radius: 16px !important;
        padding: 5px 12px;
      }

      .links .btn.btn-active {
        background-image: none;
        background-color: #b50d98;
        color: white;
        padding: 5px 12px;
      }
    }
  }

  iframe[allowfullscreen],
  .video-placeholder-container {
    max-width: 100%;
    width: 100%;
    max-height: calc(100vh - 10rem);
    aspect-ratio: 16 / 9;
    height: calc(90vh - 20rem);
  }

  mux-player {
    height: calc(90vh - 11rem);
    min-height: calc(100vh - 18rem);

    max-width: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 75vh;
    margin: auto;
  }

  &.confirmed-event-assistance {
    --d-max-width: 100%;
    --d-original-max-width: 1110px;
    --d-first-post-max-width: 750px;

    iframe[allowfullscreen],
    video,
    .video-placeholder-container {
      width: 100%;
      height: calc(90vh - 10rem);
    }

    &.has-sidebar-page {
      .d-header > .wrap .contents {
        grid-template: unset;
      }

      #main-outlet {
        padding-top: 5px;
      }
    }

    .wrap {
      max-width: calc(var(--d-sidebar-width) + var(--d-max-width));
    }

    .d-wrap,
    .discourse-post-event,
    .topic-map {
      margin: 0 auto;
      max-width: var(--d-first-post-max-width);
    }

    .topic-map {
      margin-bottom: 1em;
    }

    .post-stream {
      .contents {
        max-width: var(--d-original-max-width);
      }

      .topic-post .row {
        justify-content: center;
      }

      .topic-post:first-child {
        .post-menu-area {
          width: 50vw;
        }

        .topic-body {
          padding: 0;
          width: var(--d-max-width);
        }

        .contents {
          width: 100%;
          max-width: calc((var(--d-max-width)));
        }

        .topic-avatar {
          display: none;
        }
      }
    }

    #main-outlet-wrapper {
      gap: 0 1em !important;
      margin-inline: 0 !important;
    }

    #topic-footer-buttons {
      margin-left: 6%;
    }

    .more-topics__container {
      margin: 0 auto;
    }
  }

  #global-notice-alert-emails-disabled {
    display: none;
  }

  .newsletter-subscription-banner {
    display: none;
  }

  .topic-meta-data {
    display: none;
  }

  .timeline-container {
    display: none;
  }

  #main-outlet {
    width: 100%;
    padding-top: 10px;
  }

  .container.posts {
    display: block;
    margin: 0 auto 0 0;
    max-width: 100%;
  }

  .embeddable-chat-channel {
    transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out;
    width: 402px;
    max-height: 93vh;
    height: 93vh;
    position: sticky;
    top: 60px; // Height of the banner

    #channel-composer {
      height: auto !important;
    }

    .chat-collapsible-toggle-button {
      cursor: pointer;
      border: none;
      padding: 10px 45px 10px 5px;
      border-radius: 5px;
      position: absolute !important;
      top: 40px;
      z-index: -1;
      opacity: 0.8;
      left: -25px;
      &:focus {
        color: var(--primary) !important;
        background-color: var(--primary-low);
        opacity: 0.8;
      }
      &:hover {
        color: var(--secondary) !important;
        background-color: var(--secondary-high);
        opacity: 1;
      }
    }

    &.chat-drawer-collapsed {
      width: 0;

      .chat-collapsible-toggle-button {
        &:after {
          margin-left: 9px;
          content: "\1F4AC";
        }
        left: -60px !important;
        top: 5px;
        padding: 10px 45px 10px 10px;

        z-index: 10;
      }
    }

    .chat-drawer-header {
      width: 100%;
    }

    .btn.chat-drawer-header-button {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-start;

      span.d-button-label {
        flex-grow: 1;
      }

      border-bottom: 1px solid var(--d-sidebar-highlight-prefix-background);
    }

    border: 1px solid var(--primary-low);
    background-color: var(--primary-very-low);

    #custom-chat-container {
      position: sticky;
      top: calc(var(--header-offset));
      background-color: var(--primary-very-low);

      .chat-channel-preview-card {
        .chat-channel-preview-card__browse-all,
        .chat-channel-title {
          display: none !important;
        }
      }
    }
  }
}

#conference-chat-switcher {
  position: absolute;
  z-index: 100;

  .chat-channel-row {
    width: 100%;
    height: 55px;

    .d-icon {
      color: var(--primary-high);
    }
    .chat-channel-row__content .chat-channel__metadata-date {
      display: none;
    }

    .btn {
      background-color: var(--primary) !important;
      color: var(--secondary) !important;
    }
    &.active {
      background-color: #b50d98;
      .chat-channel-row__content .chat-channel-name {
        color: #ffffff !important;
      }

      .chat-channel-row__content .chat-channel-icon .d-icon {
        color: #ffffff !important;
      }

      .d-icon {
        color: var(--primary-very-high);
      }
    }
  }
}

.survey-modal {
  .remaining-characters {
    float: right;
    font-style: italic;
    color: var(--primary-high);
  }

  label.disable-surveys {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 480px) {
  body.conference-page.conference-started {
    padding-bottom: 10px !important;

    .select-kit-selected-name {
      font-size: 0.9rem;
    }
    .pages {
      margin-right: 0 !important;
      font-size: 0.9rem;
    }
    .livestream-title {
      margin-bottom: 8px !important;
      font-size: 1.2rem !important;
    }

    &.confirmed-event-assistance {
      #main-outlet-wrapper {
        gap: 0 !important;
      }
    }

    #stream-header {
      padding: 0 10px;
    }
    .user-info {
      padding-bottom: 10px;
      display: block !important;
    }

    .user-info:last-of-type {
      margin: 0 !important;
    }

    .time-badge {
      display: none;
    }
    .embeddable-chat-channel {
      display: none;
    }

    #main {
      overflow-x: hidden;
    }
  }

  body.conference-page.pending-conference-registration {
    #main-outlet-wrapper {
      margin: 0;
      padding: 0 !important;

      .info-box {
        .banner {
          width: 100% !important ;
        }

        width: 100%;
        padding: 0;
        p {
          margin: 0;
          width: auto;
        }

        .row.form {
          margin-bottom: 10px;
          padding-bottom: 10px;
          width: 90%;
          .custom-radio-button {
            align-items: baseline;
            margin: unset;
            padding: 20px;
          }

          .control-group {
            grid-template-columns: 1fr;
            margin-bottom: 20px;

            .ember-text-field,
            .select-kit summary {
              width: 100%;
              padding: 10px;
              box-sizing: border-box;
            }
          }

          .btn-primary {
            width: 100%;
            padding: 15px 1rem;
          }
        }
      }
    }

    .custom-radio-button {
      flex-direction: column;
      align-items: flex-start;
    }

    .event-info {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }

  body.conference-page.agenda {
    .event .stage-info {
      width: 100%;
    }

    .event .stage-info .description .btn {
      margin-left: 5px;
    }

    .region-info {
      margin-top: 20px;
    }

    .time-slot {
      display: block;
    }
    .time-slot .duration {
      display: none;
    }
    .info-box {
      padding-bottom: 10px !important;
    }
    .time {
      flex: 0 0 120px;
      font-weight: bold;
      font-size: 1.4em;

      .card-text {
        margin-bottom: 0 !important;
      }
    }
  }
}

#in-topic-livestream-chat-toggle {
  width: 100%;
}

html.mobile-view body.tag-livestream #custom-chat-container {
  max-height: 400px !important;
  height: 400px !important;
  margin-top: 1em;
}
